In [1]:
# sqlite3모듈은 파이썬이 설치될 때 기본적으로 설치되기 때문에 따로 install할 필요 없음.
import sqlite3
# sqlite3 버전확인
sqlite3.version

'2.6.0'

In [2]:
# 데이터베이스 생성하는 connect 함수, con을 통해 데이터베이스 조작 가능
con = sqlite3.connect("C:\py_test2\pytemp\ptest.db")
# con 타입 확인
type(con)

sqlite3.Connection

In [3]:
# SQL구문 호출하는 cursor
cursor = con.cursor()

In [7]:
# SQL구문 실행하는 cursor객체의 execute 메서드
# 테이블 생성
# CREATE TABLE 테이블이름(컬럼이름 데이터타입, 컬럼이름 데이터타입 ---)
cursor.execute("CREATE TABLE std(이름 text, 나이 int, 성적 text)")

In [6]:
# 테이블 삭제
# DROP TABLE 테이블이름
cursor.execute("DROP TABLE std")

In [10]:
# DROP TABLE IF EXISTS 테이블이름 => 테이블이 존재한다면 삭제
cursor.execute("DROP TABLE IF EXISTS sst")

In [26]:
# 데이터 추가
# INSERT INTO 테이블이름 VALUES
cursor.execute('INSERT INTO std VALUES("김혜성", 30, "A")')

In [27]:
con.commit()

In [13]:
cursor.execute('INSERT INTO std VALUES("전우성", 31, "D")')
cursor.execute('INSERT INTO std VALUES("전지성", 33, "B")')
cursor.execute('INSERT INTO std VALUES("전혜림", 32, "C")')

In [15]:
con.commit()

In [16]:
cursor.execute('DELETE FROM std WHERE 이름 = "전혜림"')

In [17]:
con.commit()

In [18]:
con.close()

In [24]:
con = sqlite3.connect("C:\py_test2\pytemp\ptest.db")
cursor = con.cursor()
cursor.execute("SELECT * FROM std")
rows = cursor.fetchall()
for i in rows:
    print(i)

('전혜성', 30, 'A')
('전우성', 31, 'D')
('전지성', 33, 'B')

In [25]:
cursor.execute("SELECT 이름, 성적 FROM std WHERE 나이>=31")
rows = cursor.fetchall()
for i in rows:
    print(i)

('전우성', 'D')
('전지성', 'B')

In [28]:
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '전%'")
rows = cursor.fetchall()
for i in rows:
    print(i)

('전혜성', 30)
('전우성', 31)
('전지성', 33)

In [29]:
import pandas as pd
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '전%'")
rows = cursor.fetchall()
# 컬럼명을 가져온다.
cols = [column[0] for column in cursor.description]
df = pd.DataFrame.from_records(data= rows, columns = cols)
df

    이름  나이
0  전혜성  30
1  전우성  31
2  전지성  33